<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
    	
<!-- Database connection settings for Tomcat/Local Testing DEV-->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:mem:registration</property>
         
        <!-- JDBC connection pool (use the built-in) -->
        <property name="hibernate.connection.pool_size">1</property>
        
           <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">false</property>
        
        <property name="hbm2ddl.auto">create</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
        
        
        <!-- Mappings -->

        <mapping class="com.sogeti.registration.beans.Event" />
        <mapping class="com.sogeti.registration.beans.UserEvent" />
        <mapping class="com.sogeti.registration.beans.User" /> 

        
    </session-factory>

</hibernate-configuration>