<h1>My Events</h1>
<div ng-repeat="event in events">

    <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="eventBlock">
            <div id="{{ event.id }}" ng-click="displayEvent( event.id )" class="glyphicon glyphicon-align-left glyphicon glyphicon-calendar" >


                {{event.title}}


            </div>
            <!--<button type="button" class="btn btn-info btn-lg btn-block" >-->
            <!--<span  aria-hidden="true"></span> -->
            <!--</button>-->
        </div>
    </div>
</div>


