<div>
    <form ng-submit="updateEvent()">
        <div class="form-group">
            <label for="event.title">Event title</label>
            <input type="text" class="form-control" id="event.title" placeholder="Enter event title" required/>
        </div>

        <!-- NOTE: need to make a field to upload logo/image -->

        <div class="form-group">
            <label for="event.location">Event location</label>
            <input type="text" class="form-control" id="event.lcoation" placeholder="Enter event location" required/>
        </div>


            <div class="row">
                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='event.startdate'>
                            <input type='text' class="form-control" placeholder="Begin date" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#event.startdate').datetimepicker();
                    });
                </script>

                <div class='col-sm-3'>
                    <div class="form-group">
                        <div class='input-group date' id='event.enddate'>
                            <input type='text' class="form-control" placeholder="End date" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function () {
                        $('#event.enddate').datetimepicker();
                    });
                </script>

            </div>





<button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
