
<h1>{{ pageTitle }}</h1>



<div class="input-group">
	<div class="row">
		<form name="frm" ng-submit="addNewTask()">
			<div class="col-md-10">
  				<input type="text" class="form-control" placeholder="What do you want to do?" aria-describedby="basic-addon1" ng-mode="newTask" name="newTask" ng-model="newTask" required/>
  			</div>
  			<div class="col-md-2">
  				<button type="submit" class="btn btn-primary" ng-disabled="frm.$invalid">Add</button>
  			</div>
  		</form>
  	</div>
</div>


	<ul class="todolist">
        <li ng-repeat="todoItem in data.todoItems">
            <input type="checkbox" ng-model="todo.done"/>
            <span ng-class="{'done':todo.done}">{{todoItem.description}}</span>

        </li>
    </ul>
	<!-- <li ng-repeat="todoItem in data.todoItems">
		<button type="button" class="btn btn-info">{{ todoItem.description }}</button>
	</li> -->
