
<h1>{{ pageTitle }}</h1>

<div class="input-group">
    <div class="row">
        <form name="frm" ng-submit="createNewList()">
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="List name" aria-describedby="basic-addon1" ng-model="listName" required/>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success" ng-click="createNewList()">
                    <span class="glyphicon glyphicon-plus" />
                </button>
            </div>
        </form>
    </div>
</div>


<ul>
	<li ng-repeat="list in lists">
		<button type="button" class="btn btn-info" id="{{ list.id }}" ng-click="displayList( list.id )" >{{ list.name }}</button>
		
	</li>

</ul>
