<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="SogetiStyle.css"">
  </head>

  <body>
    <div class="container">
	<a href="http://www.sogeti.com/"><img src="http://www.sogeti.com/Static/img/logo.png" alt="Sogeti Logo" /></a>
      <h1 class = text-center>EVENT MANAGEMENT SYSTEM</h1>
      <form role="form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email">
        </div>
                            <div class="case-box-wrapper">
								<a href="menu.html">
								<div class="case-box">SUBMIT</div>
							</div>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>