<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="SogetiStyle.css"">
  </head>

  <body>
    <div class="container">
	<a href="http://www.sogeti.com/"><img src="http://www.sogeti.com/Static/img/logo.png" alt="Sogeti Logo" /></a>

      <h1>EVENT MANAGEMENT SYSTEM</h1>
		  <table class="center">
				<thead>
					  <tr>
						<th>
                            <div class="case-box-wrapper">
								<a href="login.html">
								<div class="case-box">SCHEDULE NEW EVENT</div>
							</div>
					  </tr>
				</thead>
				<thead>
					  <tr>
						<th>
                            <div class="case-box-wrapper">
								<div class="case-box">LIST EVENTS</div>
							</div>
					  </tr>
				</thead>
				<thead>
					  <tr>
						<th>
                            <div class="case-box-wrapper">
								<div class="case-box">LIST MY EVENTS</div>
							</div>
					  </tr>
				</thead>
				<thead>
					  <tr>
						<th>
                            <div class="case-box-wrapper">
								<div class="case-box">UPDATE PROFILE</div>
							</div>
					  </tr>
				</thead>
			</table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>