
<!DOCTYPE html>
<html class="no-js" xmlns:ng="http://angularjs.org" lang="en" id="ng-app" ng-app="sogetiApp">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Sogeti</title>
<meta name="EpiMonitor" content="On" />
<meta name="description">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="Date" content="Fri, 30 Jan 2015 15:48:15 GMT;" />
<meta name="Creation_Date" content=" 2014-13-28 09:13" />
<meta name="Last-Modified" content="Fri, 30 Jan 2015 15:48:15 GMT;" />
<link href="http://www.sogeti.com/" rel="canonical" />
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<link rel="stylesheet" type="text/css" href="SogetiStyle.css"">



 

<!--[if IE 8]>
    <style>
        #wrapper {
            min-width: 1200px;
        }
        .pufftext-medium {
                font-size: 36px!important;
        }
        .pufftext-small1 {
                font-size: 24px!important;
        }
        .pufftext-small2 {
                font-size: 24px!important;
        }
       .third{
            clear:both;
        }
		.r-tabs .r-tabs-nav .r-tabs-tab {
			margin-right: 1px;
		}
    </style>
<![endif]-->
</head>
<body>
    
    
    
<div class="cookie-warning clearfix" cookie-message>
    <div>
        By continuing to navigate on this website, you accept the use of cookies. For more information and to change the setting of cookies on your computer, please read our Privacy Policy: 
        <a href="/legal-notice/">Read more</a>
    </div><span cookie-warning-close-button class="close-warning">Close</span>
</div>

    <div id="wrapper">
<div class="top-navbar  " ng-controller="menuCtrl">
    <div class="main_headline" role="banner">
        <div class="logo2">
            <a class="current" href="http://www.sogeti.com/">
                <img src="/Static/img/logo.png" alt="Sogeti Logo">
            </a>            
        </div>
        <div class="main-nav" ng-init="getDesktopData(7, 'en')" ng-cloak>
            <ul>
                <li ng-click="toggleVisibility(mi, false, $event)" ng-class="{'mnu-level1-selected':isOn(mi)}" ng-repeat="mi in menuData">
                    <span>{{mi.Name}}</span> <div class="mega-drop clearfix" ng-show="isOn(mi)">
                        <div class="mnu-level1-wrapper">
                            <span class="mnu-level1-header">{{mi.Name}}</span>
                            <ul class="mnu-level2">
                                <li ng-click="toggleVisibility(mi1, true, $event)" hm-tap="toggleVisibility(mi1, true, $event)" hm-options="{drag: false}" ng-class="{'mnu-level2-selected':isOn(mi1)}" ng-repeat="mi1 in mi.Children">
                                    <a ng-show="mi1.Children.length == 0" href={{mi1.Url}}>{{mi1.Name}}</a>
                                    <span ng-show="mi1.Children.length > 0" ng-click="thirdVisibility(mi1, $event)" href={{mi1.Url}}>{{mi1.Name}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="mnu-level2-wrapper">
                            <ul class="mnu-level3">
                                <li ng-show="showThirdLevel && selectedChildren.length > 0"><a href="{{selectedSubmenu.Url}}">{{selectedSubmenu.Name}}</a></li>
                                <li ng-show="showThirdLevel" ng-repeat="mi2 in selectedChildren"><a href="{{mi2.Url}}">{{mi2.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="mobil-nav  " ng-show="showMobileMenu" ng-cloak>
            <ul>
                <li ng-repeat="mi0 in menuData">
                    <span ng-class="{'expandable':mi0.Children.length > 0}" ng-click="toggleMobileVisibility(mi0, $event)"><h2 class="mnu-header-level2">{{mi0.Name}}</h2></span>
                    <ul ng-show="mi0.Children.length > 0 && isMobileOn(mi0)">
                        <li ng-repeat="mi1 in mi0.Children">
                            <a class="second-level-menu-item" ng-show="mi1.Children.length == 0" href={{mi1.Url}}>{{mi1.Name}}</a>
                            <span class="second-level-menu-item" ng-show="mi1.Children.length > 0" ng-class="{'expandable':mi1.Children.length > 0}" ng-click="toggleMobileVisibility(mi1, $event)" href={{mi1.Url}}>{{mi1.Name}}</span>
                            <ul ng-show="mi1.Children.length > 0 && isMobileOn(mi1)">
                                <li><a class="third-level-menu-heading" href="{{mi1.Url}}">{{mi1.Name}}</a></li>
                                <li ng-repeat="mi2 in mi1.Children">
                                    <a class="third-level-menu-item" href="{{mi2.Url}}">{{mi2.Name}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <span class="mobile-nav" ng-click="toggleMobileMenu(7)"><img src="/static/img/menu-mobile-icon.png" alt="Meny"></span>
        <div class="search">
            <div class="search-box-wrapper">
                <form id="SearchFormHeader" action="http://www.sogeti.com/search-page/" method="get">
                    <div class="search-text-box" value="Search">
                        <input id="q" name="q" type="text" value="" /><img class="search-button" src="/Static/img/search-icon-black.png" onclick="document.forms['SearchFormHeader'].submit()" alt="todo" />
                    </div>
                </form>
            </div>
            <a href="#" class="wake-search">
                <span>Search</span>
                <img src="/static/img/search-icon.png" alt="todo">
            </a>
        </div>
        <div class="header-country"><a href="#"><span>Worldwide</span><img src="/static/img/globe.png" alt="todo" /></a></div>
            <div class="country-list">
                <ul>
                        <li><a title="Sogeti Belgium" target="_blank" href="/link/9484187c248e442582eb73d208ce0a7a.aspx?id=10471">Belgium</a></li>
                        <li><a title="Sogeti Denmark" target="_blank" href="/link/f24ee6f1246940a1af480ce070c14bcf.aspx?id=20665">Denmark</a></li>
                        <li><a title="Sogeti Finland" target="_blank" href="/link/87b0798e6c004d8585884f8089f00820.aspx?id=10462">Finland</a></li>
                        <li><a title="Sogeti France" target="_blank" href="/link/f52506ffbb9c4bc6ad8c996fce0614f3.aspx?id=20235">France</a></li>
                        <li><a title="Sogeti Germany" target="_blank" href="http://www.sogeti.de/">Germany</a></li>
                        <li><a title="Sogeti High Tech" target="_blank" href="/link/580c811e0e2a4a1cb68c72e25cc97f15.aspx?id=11552">High Tech</a></li>
                        <li><a title="Sogeti Ireland" target="_blank" href="/link/18d185749c3d4945a34354e262db4047.aspx?id=10529&amp;epslanguage=en">Ireland</a></li>
                        <li><a title="Sogeti Luxembourg" target="_blank" href="/link/7335eddc2355453e85a2a83724afc228.aspx?id=10478">Luxembourg</a></li>
                        <li><a title="Sogeti Netherlands" target="_blank" href="https://www.sogeti.nl/">Netherlands</a></li>
                        <li><a title="Sogeti Norway" target="_blank" href="/link/002195a0b656495cb7f381f0032e4153.aspx?id=20244">Norway</a></li>
                        <li><a title="Sogeti Spain" target="_blank" href="/link/ed8f065f4b374397b259259c1ff11c4f.aspx?id=19321">Spain</a></li>
                        <li><a title="Sogeti Sweden" target="_blank" href="/link/cee8475e33ef477f924f7c7773c30ebf.aspx?id=20247">Sweden</a></li>
                        <li><a title="Sogeti Switzerland" target="_blank" href="/link/cd944538c2c04797b30baae9622fc9a8.aspx?id=10552">Switzerland</a></li>
                        <li><a title="Sogeti UK" target="_blank" href="/link/76059a9590dd43d38ff5ce769c5d05ab.aspx?id=10527">UK</a></li>
                        <li><a title="Sogeti USA" target="_blank" href="https://us.sogeti.com/">USA</a></li>
                </ul>
            </div>
            </div>
</div>        
<div class="hero-box">
    <div class="hero-header">
        <div class="cols col1">
                <img src="http://www.sogeti.com/globalassets/common/hero-header-1x1-640x640/two-men-with-ipad.jpg" alt="two men with iPad" />

            <div class="logo1">
                <a href="http://www.sogeti.com/"><img src="/Static/img/logo.png" alt="Sogeti Logo" /></a>
            </div>
        </div>
        <div class="cols col2-2">
                <a href="/why-us/global-alliances-partners/microsoft/oneshare/">
                    <div class="pufftext-small1">
                            <div class="case-box-wrapper"><div class="case-box">SERVICE</div></div>
                                                    <div class="case-box-wrapper"><div class="case-item-box">CLOUD</div></div>
                        <div class="tx">
                            OneShare</div>
                    </div>
                    <div class="puff-interactions">
                        
                    </div>
                    
                    <img src="http://www.sogeti.com/globalassets/common/hero-header-2x1-640x320/cloud.jpg" alt="OneShare" />
                </a>

                <a href="/why-us/leading-innovation/">
                    <div class="pufftext-small2">
                            <div class="case-box-wrapper"><div class="case-box">ABOUT US</div></div>
                                                    <div class="case-box-wrapper"><div class="case-item-box">INNOVATION</div></div>
                        <div class="tx">
                            Leading Innovation: SogetiLabs</div>
                    </div>
                    <div class="puff-interactions2">
                        
                    </div>
                    
                    <img src="http://www.sogeti.com/globalassets/common/hero-header-2x1-640x320/rocket-640x320.jpg" alt="rocket" />
                </a>
        </div>

        <div class="cols col3">
                <a href="/solutions/testing/wqr/">
                    <div class="pufftext-small1">
                            <div class="case-box-wrapper"><div class="case-box">REPORT</div></div>
                                                    <div class="case-box-wrapper"><div class="case-item-box">TESTING</div></div>
                        <div class="tx">
                            World Quality Report 2014-15</div>
                    </div>
                    <div class="puff-interactions">
                        
                    </div>
                    
                    <img src="http://www.sogeti.com/globalassets/common/hero-header-2x1-640x320/2014-15-wqr-banner-640x320.jpg" alt="World Quality Report 2014-15" />

                </a>

                <a href="/join-us/life-at-sogeti/">
                    <div class="pufftext-small2">
                            <div class="case-box-wrapper"><div class="case-box">JOBS</div></div>
                                                    <div class="case-box-wrapper"><div class="case-item-box">DNA</div></div>
                        <div class="tx">
                            Life at Sogeti</div>
                    </div>
                    <div class="puff-interactions2">
                        
                    </div>
                    
                    <img src="http://www.sogeti.com/globalassets/common/hero-header-2x1-640x320/young-people-with-phones.jpg" alt="Life at Sogeti" />

                </a>
        </div>
        <div class="cols col4"><a href="#" class="top-stories"><img src="/Static/img/20percent.png" alt="todo" /><div>Top stories</div></a></div>
        <div class="cols col5"><a href="#" class="top-stories"><img src="/Static/img/37percent.png" alt="todo" /><div>Top stories</div></a></div>
    </div>
</div><div class="hero-bottom"></div>
<div class="clearfix"></div>
<div id="primary_content" class="clearfix" ng-controller="tagCtrl" ng-cloak ng-init="getTagData('en',{})" resizable>
    <div class="front-filter-wrapper" ng-include="getFrontFilterMenu()"></div>
    <div class="startpage-left-column" ng-include="'/Static/templates/startPageFilteredListing.html'"></div>
    <div id="index-right-column">
        <div><div class="block linklistblock full span12"><div class="box-header">
    HOT OFFERINGS
</div>
<div class="box-content">
    <ul class="link-list clearfix"><li class="block linkitemblock  ">
<a href="http://www.sogeti.com/solutions/testing/"><img src="http://www.sogeti.com/globalassets/common/icons-30x30/test1.png" alt="test" /><span>TESTING</span></a>

</li><li class="block linkitemblock  ">
<a href="http://www.sogeti.com/solutions/cloud/"><img src="http://www.sogeti.com/globalassets/common/icons-30x30/cloud.png" alt="cloud" /><span>Cloud</span></a>

</li><li class="block linkitemblock  ">
<a href="http://www.sogeti.com/solutions/cybersecurity/"><img src="http://www.sogeti.com/globalassets/common/icons-30x30/security.png" alt="Security icon" /><span>CYBERSECURITY</span></a>

</li><li class="block linkitemblock  ">
<a href="http://www.sogeti.com/solutions/high-tech--global-engineering/"><img src="http://www.sogeti.com/globalassets/common/icons-30x30/hightech.png" alt="high_tech_and_ges" /><span>High Tech &amp; Global Engineering</span></a>

</li><li class="block linkitemblock  ">
<a href="http://www.sogeti.com/solutions/digital-online-mobile-things/"><img src="http://www.sogeti.com/globalassets/common/icons-30x30/mobility.png" alt="Digital_icon" /><span>DIGITAL </span></a>

</li><li class="block linkitemblock  ">
<a href="http://www.sogeti.com/solutions/bi-and-analytics/"><img src="http://www.sogeti.com/globalassets/common/icons-30x30/bi.png" alt="bia" /><span>BI &amp; ANALYTICS</span></a>

</li></ul>
</div></div><div class="block clickableimageblock full span12">    <div class="box-header">Thought leaderships</div>
<div class="box-content image-box">
    <a href="http://www.sogeti.com/why-us/leading-innovation/">
        <img src="/globalassets/common/menuimage-355x215/rocket.jpg" alt="Sogeti Labs our community of experts" />
            <div class="image-box-text">Sogeti Labs our community of experts</div>
    </a>
</div></div><div class="block clickableimageblock full span12">    <div class="box-header">Join us</div>
<div class="box-content image-box">
    <a href="http://www.sogeti.com/join-us/jobs/">
        <img src="/globalassets/common/menuimage-355x215/people/three-people-sitting-outdoors-looking-at-tablet.jpg" alt="Join us" />
            <div class="image-box-text">Life at Sogeti</div>
    </a>
</div></div><div class="block twitterinstablock full span12"><div class="box-header">TWITTER</div>
<a class="twitter-timeline" data-tweet-limit="3" data-link-color="#ee4427" data-chrome="noborders noheader noscrollbar"  href="https://twitter.com/Sogeti" data-widget-id="496945585119694849">Tweets from https://twitter.com/Sogeti</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
</div></div>
    </div>
</div>
<script src="/Static/Js/Redirect.js"></script>


<div class="footer-wrapper clearfix">
    
    <div class="footer-inline">
        <div class="link-lists-wrapper">
                <div class="foot-cols foot-col1">
                    <div class="footer-content">
                        <h2>Career</h2>
                        <ul>
                                <li><a href="/join-us/life-at-sogeti/" title="Life at Sogeti">Life at Sogeti</a></li>
                                <li><a href="/join-us/jobs/" title="Jobs at Sogeti">Jobs at Sogeti</a></li>
                        </ul>
                    </div>
                </div>

                <div class="foot-cols foot-col2">
                    <div class="footer-content">
                        <h2>Legal</h2>
                        <ul>
                                <li><a href="/legal-notice/" title="Legal notice">Legal Notice</a></li>
                                <li><a href="/terms_of_use/">Terms of use</a></li>
                        </ul>
                    </div>
                </div>
                            <div class="foot-cols foot-col3">
                    <div class="footer-content">
                        <h2>Press &amp; Media</h2>
                        <ul>
                                <li><a href="/explore/news/" title="News">News</a></li>
                                <li><a href="/explore/press-releases/" title="Press releases">Press releases</a></li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="foot-cols foot-col4">
            <div class="footer-content">
                <p><strong>Discover the Group</strong></p>
<p><a title="Capgemini" href="http://www.capgemini.com/"><img style="margin-top: 10px; margin-bottom: 10px;" src="/globalassets/global/capgemini.png" alt="Capgemini" width="107" height="26" /></a></p>
<p>&nbsp;</p>
<p><strong>CONTACT SOGETI</strong></p>
<p><strong>Global Headquarters</strong><br />41-43 rue Pergolèse<br />75016 Paris<br />FRANCE<br />Tel: +33 (0)1 58 44 55 67<br />Fax: + 33 (0)1 58 44 58 10</p>
                <h3>GET SOCIAL</h3>
                <div class="footer-social clearfix">
                    <div><div class="block linkandimageblock  "><div>
    <a href="http://www.linkedin.com/company/sogeti-group" class="footer-social-item"><img src="/globalassets/common/social-icons---footer/linkedin.png" alt="LinkedIn Sogeti Group" /></a>
</div></div><div class="block linkandimageblock  "><div>
    <a href="https://www.youtube.com/user/SogetiGroup" class="footer-social-item"><img src="/globalassets/common/social-icons---footer/youtube.png" alt="Youtube Sogeti Group" /></a>
</div></div><div class="block linkandimageblock  "><div>
    <a href="https://twitter.com/SogetiGroup" class="footer-social-item"><img src="/globalassets/common/social-icons---footer/twitter.png" alt="Twitter Sogeti Group" /></a>
</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" language="javascript">
   CheckBrowser("");
</script>    </div>
    

    
    <script src="/scripts/lib?v=5Oaf-bhMYGh3k9lS4FWpxUqenjKQs5Oi0B6fkLBa7fw1"></script>

    <script src="/bundles/jqueryval?v=oeDQU4ZEdRzUMCDu9zcoXJfOPa5WCbAt1hihI8PRFTI1"></script>

    
    <script src="/scripts/angular?v=5zSl4lQts_e-2tcfu-iTh7CWBx7yEhZylfr8x6ovW5M1"></script>

    <script src="/scripts/js?v=Os3Lhcv2w8o4fH9fg_E-0gvS4Cl6PtlVN5tQXc-iNiQ1"></script>

<script>
  dataLayer = [{
    'template': 'ChangeThisStringAccordingToTemplate',
    'tracking id': 'UA-8506393-4',
  }];
</script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M3XNST"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3XNST');</script>
<!-- End Google Tag Manager -->    

    <script type="text/javascript">
        HeadingBlack("False");
    </script>


</body>
</html>
