

	<div id="main">
        <div class="panel panel-default myPanel">
            <div class="panel-heading myPanelHeading">Provide your email</div>
            <div class="panel-body">
                <form role="form" ng-submit="login()">
                    <div class="form-group">
                            <div>
                                <input type="email" class="form-control" ng-model="email" id="email" placeholder="Enter email" required/>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn-primary">Submit</button>
                            </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
