
<h1>{{ pageTitle }}</h1>
<div>
	<div id="main">

        <div class="container">
            <h1 class=text-center>EVENT MANAGEMENT SYSTEM</h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Login</div>
            <div class="panel-body">
                <form role="form" ng-submit="login()">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-md-11">

                                <input type="email" class="form-control" id="email" placeholder="Enter email" required/>
                            </div>
                            <div class="col-md-1">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
	</div>
</div>