
<!--
//USER MODEL
//{
//    "firstName": "Tim",   --
//    "lastName": "Kelley", --
//    "email": "tkelley@email.com", --
//    "password" : "password",
//    "address1" : "address1",
//    "address2" : "address2",
//    "city" : "city",
//    "state" : "state",
//    "companyName" : "companyName",
//    "branchLocation" : "branchLocation",
//    "additionalInfo" : "addtionalInfo",
//    "zip" : "12345",
//    "phoneHome" : "134235",
//    "phoneOffice" : "134235",
//    "phoneCell" : "134235"
//}-->
<div>
    <form ng-submit="submitRegistration()">
        <table class="block table table-condensed table-striped">
            <thead>
            <tr>
                <td><label for="email">Email address</label></td>
                <td><input type="email" class="form-control" id="email" placeholder="Email" required ng-model="user.email" /></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><label for="firstName">Name</label></td>
                <td><input type="text" class="form-control" id="firstName" placeholder="First Name" required ng-model="user.firstName"/></td>
            </tr>

            <tr>
                <td><label for="firstName">Last Name</label></td>
                <td><input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="user.lastName" required /></td>
            </tr>
            <tr>
                <td><label for="homeAddress">Home address</label></td>
                <td><input type="text" class="form-control" id="homeaddress" placeholder="Street Address" ng-model="user.address1" required /></td>
            </tr>
            <tr>
                <td><label for="homeAddress">Home address</label></td>
                <td><input type="text" class="form-control" id="address2" placeholder="Street Address" ng-model="user.address2" /></td>
            </tr>
            <tr>
                <td><label for="city">City</label></td>
                <td><input type="text" class="form-control" id="city" placeholder="City" ng-model="user.city" required /></td>
            </tr>
            <tr>
                <td><label for="state">State</label></td>
                <td><input type="text" class="form-control" id="state" placeholder="State" ng-model="user.state" required /></td>
            </tr>
            <tr>
                <td><label for="zip">Zip</label></td>
                <td><input type="text" class="form-control" id="zip" placeholder="Zip" ng-model="user.zip" required /></td>
            </tr>

            <tr>
                <td><label for="primaryPhone">Primary Phone Number</label></td>
                <td><input type="tel" class="form-control" id="primaryPhone" placeholder="Home Phone" ng-model="user.phoneHome" required /></td>
            </tr>
            <tr>
                <td><label for="secondaryPhone">Secondary Phone Number
                    (optional)</label></td>
                <td><input type="tel" class="form-control" id="secondaryPhone" placeholder="Cell Phone" ng-model="user.phoneCell" /></td>
            </tr>

            <tr>
                <td><label for="company">Company</label></td>
                <td><input type="text" class="form-control" id="company"  placeholder="Company" ng-model="user.companyName" required /></td>
            </tr>
            <tr>
                <td><label for="branch">Branch/Office Location </label></td>
                <td><input type="text" class="form-control" id="branch" ng-model="user.branchLocation"  placeholder="Branch Location" /></td>
            </tr>
            </tbody>

        </table>
        <button type="submit" class="case-box btn">Submit</button>
        <!--<div class="case-box-wrapper">-->
                <!--<div class="case-box btn">SUBMIT</div>-->
        <!--</div>-->
        </form>
    </div>
