
@media (max-width: 750px) {
    .eventBlock {
        padding-bottom: 15%;
        margin : 10px;
    }
}
@media (min-width:751px){
    .eventBlock {
        padding-bottom: 75%;
        margin : 10px;
    }
}

.eventBlock{
    width: 100%;
    height: 0;
    border : 1px solid #000000;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(46,74,117,1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(46,74,117,1);
    box-shadow: 2px 2px 2px 0px rgba(46,74,117,1);
}
.eventPanel {
    width: 100%;
}
.sogetiBanner{
    width : 100%;
    background-color: #EE4427;
}


